*{
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;
    font-family: Spartan;
}

body{
    background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2321b0ac' fill-opacity='0.23'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/*Asuntos generales como botones y otras cosas*/


a{
    color: rgb(206, 91, 14);
    text-decoration: none;
}

ul{
    list-style: none;
}

.btn {
    cursor: pointer;
    display: inline;
    border: 1px white solid;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: small;
    background: cornflowerblue;
    border-radius: 7px;
        

}

.btn:hover{
    background-color: rgb(134, 238, 134);
    color: rgb(206, 91, 14);
}

ul{
    list-style: none;
}


/*Aqui empiezan las cajas*/

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 1200px;
    margin: auto;
}

    .header{
        background: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        
    }

        .nav-main{
            background: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: start;
            
                        
        }

        
            .nav-brand{
                display: flex;
                background: rgb(202, 221, 221);
                width: 70px;
                flex: 1 1 auto;
                              
                
            }

            .nav-menu{
                display: flex;
                /*background: rgb(126, 173, 216);*/
                flex: 5 1 auto;
                justify-content: space-around;
                align-items: center;
            }
            
            .nav-menu a:hover{
                border-bottom: 2px solid rgb(83, 56, 56);
                    
    }

            .right-menu{
                display: flex;
                /*background-color: cyan;*/
                flex: 1 1 auto;
                align-items: center;
                justify-content: space-around;
                font-size: 1.5rem;  
            }

            .right-menu a:hover{
                color: rgb(34, 179, 89);
                font-size: 1.5rem;    
    }

        .portada{
            margin-top: 10px;
            width: 100%;
            height: 450px;
            background-image: url(/css/botiga/img/concert.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            padding-bottom: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            color: #fff;
            text-shadow: 3px 2px 5px black;
            margin-bottom: 10px;
            border-radius: 4px;

        }
    .section{
        /*background: #000;*/
        display: flex;
        
    }

        .articulos{
            /*background: darkmagenta;*/
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
            text-align: center;
           
            }
            
            .article{
                /*background:darkgray;*/
                flex: 1 1 20%;
                padding: 5px;
            }

            .articulos img {
                width: 90%;
                height: 170px;
                margin-top: 10px;
                border-radius: 25px;
                border: 1px solid #fff;
                        
            }

             .article h3{
                font-size: 15px;
                text-align: center;
                color: rgb(206, 91, 14);
                margin: 10px 0px;
            }

            .article p {
                font-size: 12px;
                text-align: center;
                color: rgb(206, 91, 14);
                margin: 8px 0px;
                min-height: 50px;
                
            }
    
            .article h4{
                font-weight: 200;
                font-size: smaller;
                text-shadow: 3px 2px 5px darkslateblue;
                text-align: center;
                margin: 10px 10px;
                color: rgb(206, 91, 14);
                
            }

            .article a{
                display: flex;
                justify-content: center;
            }

            .navegacion{
                display: flex;
                background: rgb(126, 173, 216);
                width: 100%;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
            }

            #epocas ul{
                display: flex;
                width: 100%;
                                
            }

            #epocas li{
                display: inline;
                
                
                
            }
            

        .aside{
            /*background: crimson;*/
            flex: 1 1 auto;
        }

            .publicidad{

            }

            .publicidad img {
                width: 95%;
                height: 350px;
                justify-content: center;
                margin: 10px;

            }

    .footer{
        /*background: #000;*/
        display: flex;
            
        }
        .footer-container{
            font-size: smaller;
            /*background: cornsilk;*/
            width: 99%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .footer-container ul li{
            display: flex;
            padding: 5px;
            margin: 5px;
            
        }

        .footer-container li p{
            color: rgb(206, 91, 14);
        }

        .footer-container img{
            width: 90%;
            height: 80px;
        }

        .footer-container li a h4:hover {
            color: #99cccc;
        }

        .footer-container li a p:hover {
            color: #99cccc;
        }

        .infocookies p{            
            font-size: smaller;
            padding-bottom: 12px;
            text-align: center;
        }

        .infocookies p a{
            color: blue;
        }

        .infocookies p a:hover{
            border-bottom: rgb(219, 155, 35);
        }

@media all and (max-width: 800px){
            /*body{
                background-color: chartreuse;
            }*/
            
            .section{
                flex-direction: column;
            }

            .nav-main{
                flex-direction: column;
                height: auto;
            }

            .nav-menu{
                padding-top: 10px;
                display: flex;
                width: 60%;
            }
            
            .right-menu{
                width: 60%;
            }
            .right-menu a i{ 
                display: flex;
                margin-top: 5px;
                justify-content: space-around;
                

            }

            .aside{
                 display: flex;
                 width: 60%;

            }

            .articulos{
                flex-direction: row;
                width: 65%;
            }

            .articulos img{
                width: 90%;
                height: 150px;
            }

            .portada{
                width: 65%;
            }
        }
        
        .footer{
            font-size: 15px;
            display: flex;
            width: 67%;
        }

        .infocookies{
            font-size: 10px;
        }

@media all and (max-width: 400px){
            /*body{
                background-color: chartreuse;
            }*/
            .section{
                display: flex;
                flex-direction: column;
                align-content: center;
               

            }

            .nav-main{
                flex-direction: column;
                height: auto;
            }

            .nav-menu{
                padding-top: 5px;
                display: flex;
                font-size: smaller;
                width: 30%;
                justify-content: space-between;
            }
            
            .right-menu{
                width: 30%;
                display: flex;
                align-items: flex-start;
                align-content: flex-start;
            }
            .right-menu a i{ 
                display: flex;
            }

            .aside{
                display: flex;
                width: 30%;

            }

            .articulos{
                display: flex;
                flex-direction: row;
                width: 25%;                                
            }
            
            .articulos h3{
                min-height: 50px;
            }

            .articulos img{
                width: 99%;
                height: 130px;
            }


            .portada{
                display: flex;
                width: 32%;
                text-align: center;
                background-image: url(/css/botiga/img/concert.jpg);
                background-size: contain;
                height: 200px;
            }
            .portada h1{
                display: flex;
                justify-content: center;
                font-size: smaller;
            }

            .publicidad img{
                width: 100%;
                height: 190px;
            }

            .footer-container{
                display: flex;
                width: 25%;
              
                align-items: stretch;
                
            }

            .footer-container img{
                width: 35%;
                height: 60px;
            }

            
           
}