*{box-sizing: border-box;}
body {
    background-color: #fff;
    margin: 0px;
    padding: 50px 60px;
}

h1{
color: #004e89;
font-family: 'Yantramanav', sans-serif;
font-size: 50px;
font-weight: 400;
margin: 0px;
text-align: center;
}

h2{
    color: #aaa;
    font-family: 'Yantramanav', sans-serif;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
}

p {
    color: #333;
    font-family: 'Yantramanav', sans-serif;
    font-size: 16px;
    font-weight: 100;
    margin: 0;
    text-align: center;
  }

  .acciones {
    text-align: center;
    margin-top: 30px;
  }

  .acciones a {
    background-color: #9DD1F1;
    border-radius: 3px;
    color: #004E89;
    font-family: 'Yantramanav', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    margin: 10px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  #tablajuego {
    position: relative;
    text-align: center;
    top: 30px;
  }

  .tarjeta {
    border: 2px solid #9DD1F1;
    display: inline-block;
    height: 200px;
    margin-top: 40px;
    text-align: center;
    width: 215px;   
  }
  .tarjeta2{
      border: 2px solid blue;
      display: inline-block;
      height: 200px;
      margin-top: 10px;
      text-align: center;
      width: 215px;
  }   

    
.tarjeta2:hover { 
        background-color: #004E89;
        border-color: #004E89;
      }

    }
