body{
    margin-inline: 10px;
}
       
     
        .verde{
    color: green;
    text-decoration: underline;
}
.red{
    color: red;
}
.arribabajo{
    text-decoration-line: overline underline;
    
}
.big{
    font-size: xx-large;
    font-weight: bold;
}
.blue{
    font-weight: bold;
    color: blue;
    font-size: x-large;
}
.red2{
    font-weight: bold;
    color: red;
    font-size: x-large;
    text-decoration: underline;
}
/*falta modificar estos parametros del enlace*/
a:hover
a:link
a:visited