h1{
    color: rgb(212, 224, 212);
    text-align: center;
    border: solid;
    border-color: brown;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 3px 2px black; 
}
h2{
    color: rgb(190, 121, 31);
    text-align: center;
    border: dotted;
    border-color: rgb(126, 16, 16);
    padding: 20 10 20 10px;
    border-radius: 10px;
    text-transform: uppercase;
    text-shadow: 1pt;
    text-shadow: crimson;
    background-color: cornflowerblue;
    text-shadow: 3px 2px 5px grey;    
    }
h3{
    color: rgb(31, 126, 190);
    text-align: center;
    border: 1px;
    border-color: rgb(110, 53, 53);
    text-transform: uppercase;
    border: double;
    border-left: 3px;
    border-right: 3px;
    padding: 15 5 15 25px;
    border-radius: 15px;
    text-shadow: 3px 2px 5px orange;
    
}
#novi{
    color: rgb(0, 195, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;        
}
#novs{
    color: rgb(247, 0, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}
.textint{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-style: italic;
    text-align: justify;
    text-decoration: aquamarine;
    background-color: burlywood;
    background-position: 5px;
    margin: 50px;
}
p{
    border-style: inset;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.big{
    background-image: url( /fondo.jpg);
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;    
}
.img{
    vertical-align: baseline;

}
#menu{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-style: oblique;
    text-decoration: none;
}
