<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aparece desaparece</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

</head>

<body>
    <div id="app">
        <div>
            <div v-if="mostrar">
                <b>{{mostrar}}</b><br />
                <img :src="imagen" alt="">
                <ul>
                    <li v-for="(item,index) in cursos" :key="index"></li>
                    <a :href="item.url">{{item.name}}</a>
                </ul>
            </div>
            <button @click="toggleMostrar">Mostrar/Ocultar</button>
        </div>
    </div>
    <template id="ejemplo">
        <div>
            
         </div>
    </template>
    <script src="/conceptos basicos/ejercicio_goals/javascript.js"></script>
</body>

</html>