li{
    border: solid 1px black;
    margin: 0;
    padding: 3px;
    display: inline-block;
    width: 400px;
}
.columna{
    -moz-column-count: 2;
    -moz-column-gap: 0.1em;
    display: inline-block;
    border: solid 1px black;
   }

   