*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2321b0ac' fill-opacity='0.23'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Spartan', sans-serif;
}

a{
    color: rgb(14, 151, 48);
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 95%;
    margin: auto;
}

/*Navigation*/

.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0px;
    
}

.nav-brand{
    width: 60px;
}

/*navegacion izquierda para que los elementos cambien de posicion*/

.nav-main ul {
    display: flex;
}

.nav-main li{
    padding: 10px;
}

.nav-brand ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}
