body{
    background: url(/shapelined-_JBKdviweXI-unsplash.jpg);
    background-size: cover;
    }

section{
    margin: 2px;
    border-radius: 20px;
    
}

h1{
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: crimson;
}
#portada{        
    width: 100%;
    height: 20vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 15px;
    border: 2px solid blueviolet;
    position: relative;
    display: grid;
    text-align: center;
    border-radius: 20pt;
    
}

#portada::before{
    content: "";
    background: url(/keila-hotzel-lFmuWU0tv4M-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20vh;
    top: 0;
    left: 0;
    z-index: -5;
    position: absolute;
    border-radius: 20pt;
       
}
#portada2{
    border: 1px dotted rebeccapurple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    width: 49%;
    height: 20vh;
    display: inline-block;
    text-align: right;
    position:relative;
    padding: 20px;
    border-radius: 20pt;
}

#portada2::before{
    content: "";
    background: url(/fondo.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cove;
    top: 0;
    left:0;
    z-index: -4;
    position: absolute;
    border-radius: 20pt;
}

#portada3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12;
    border: 1px solid tomato;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 50%;
    height: 20vh;
    float: right;
    border-radius: 20pt;
}

#portada3::before{
    content: "";
    width: 100%;
    height: 100%;
    background: url(/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -6;
    position: absolute;
    border-radius: 20pt;
       
}

#portada4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border: 1px solid tomato;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 50%;
    height: 20vh;
    float: right;
    padding: 60px;
    border-radius: 20pt;
}

#portada4::before{
    content: "";
    width: 100%;
    height: 100%;
    background: url(/ItsukishimaGateJapan-day.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -6;
    position: absolute;
    opacity: 0.5;
    border-radius: 20pt;
}

#boton{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid rgb(17, 37, 17);
    border-radius: 5px;
    padding: 10px;
    background: rgb(36, 170, 231);
    width: 200px;
    margin: 5px;
    }

.acciones{
    text-align: left;
    margin-top: 20px;
}

    .acciones a{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 1px solid rgb(69, 70, 69);
        border-radius: 5px;
        padding: 10px;
        background: rgb(36, 170, 231);
        width: 200px;
        margin: 5px;
        text-decoration: none;   
    }
.acciones2{
    padding: 5px;
    text-align: center;
    
}
li::marker{
    position: absolute;
    
}

.acciones2 li{
    
    border: 1px solid rgb(69, 70, 69);
    border-radius: 5px;
    background: rgb(36, 170, 231);
    width: 300px;
    height: 30px;
    margin: 10px;
    text-decoration: none;
    
    padding: 10px;
}

ul{
    list-style-image: url(/flecha.png);
    font-family: cursive;
    position: relative;
}